<input type="hidden" name="list_id" value="<%= listId %>">

<label for="card_title">Title</label>
<br>
<input type="text" id="card_title" name="title">

<br>

<label for="card_description">Description</label>
<br>
<textarea id="card_description" name="description"></textarea>

<br>

<button class="create-card">Add Card!</button>